html,
body {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

main{
  flex-grow: 1;
  padding: 100px 0;
}

.header,
.footer{
  background-color: #4f89e0;
  padding: 50px;
  display: flex;
}
.header__link,
.footer__link{
  color: #fff;
  font-weight: 500;
}
.footer__link{
  display: flex;
  align-items: center;
}
.footer__link img{
  margin-right: 1em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
  font-weight: 900;
}

.accordion__list{
}
.accordion{
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.accordion__title{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #cecece;
  font-weight: 700;
  transition: all 0.3s;
  color: #4f89e0;
}

.arrow{
  transition: all .35s;
}

.accordion__content{
  max-height: 0;
  background: white;
  transition: all 0.7s;
}

.accordion__img{
  max-width: 50%;
  margin: 0 auto;
}
input {
  opacity: 0;
}

input:hover ~ .accordion__content,
input:checked ~ .accordion__content{
  padding-top: 1em;
  max-height: 100vh;
}
input:checked > .accordion__title-arrow{
  transform: rotate(90deg);
}
input:checked + .accordion__title{
  color: black;
}
